<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="cordova-plugin-encryptionplugin" version="0.0.2">
    <name>EncryptionPlugin</name>

    <description>Entel ENcryption Plugin</description>
    <license>MIT</license>

    <js-module src="www/encryptionplugin.js" name="encryptionPlugin">
        <clobbers target="window.plugins.EncryptionPlugin" />
    </js-module>
    

    <platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="EncryptionPlugin">
				<param name="ios-package" value="EncryptionPlugin"  onload="true"/>
			</feature>
		</config-file>


        <!--header-file src="src/ios/FingerViewController.h" />
		<source-file src="src/ios/FingerViewController.m" /-->
		<header-file src="src/ios/EncryptionPlugin.h" />
		<source-file src="src/ios/EncryptionPlugin.m" />
  		
	</platform>
</plugin>